################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Test01-Hello/.vs
/Test01-Hello/bin/Debug
/Test01-Hello/obj
/CAapp1/.vs/CAapp1/FileContentIndex
/CAapp1/.vs/CAapp1/v17/ipch/AutoPCH/7b9a9d5c72a86a43
/CAapp1/.vs/CAapp1/v17
/CAapp1/x64/Debug/CAapp1.tlog
/CAapp1/x64/Debug
/Test02-List/bin/Debug
/Test02-List/obj/Debug
/Test02-List/Properties
